Django>=1.8,<2.0
psycopg2
configparser
mysqlclient
python-decouple
djangorestframework
markdown
django-filter
django-oauth-toolkit
django-cors-middleware
django-cors-headers
djangorestframework-jwt
python-slugify